.border-input {
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0px;
}

.input-color {
    background: #1c242f;
    color: white;
}

.border-input:focus {
    box-shadow: none;
}

.color-brackground {
    background: #1c242f;
}

.color-button {
    background: #fb2a86;
}

.color-button:focus {
    background: #8b2fb5;
}

.color-purple {
    background: #8b2fb5;
}
.color-pink {
    background: #fb2a86;
}

.tab {
    color: #92a1c2;
}

.btn-full {
    width: 100%;
    background: #fb2a86;
    border-radius: 50px;
    border: 1px solid #fb2a86;
    color: white;
}
.btn-full:hover {
    background: white;
    border: 1px solid #fb2a86;
    color: #fb2a86;
}

.background-gradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8b2fb5+1,fb2a86+99,fb2a86+99,fb2a86+99,fb2a86+99 */
background: #8b2fb5; /* Old browsers */
background: -moz-linear-gradient(left, #8b2fb5 1%, #fb2a86 99%, #fb2a86 99%, #fb2a86 99%, #fb2a86 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #8b2fb5 1%,#fb2a86 99%,#fb2a86 99%,#fb2a86 99%,#fb2a86 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #8b2fb5 1%,#fb2a86 99%,#fb2a86 99%,#fb2a86 99%,#fb2a86 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b2fb5', endColorstr='#fb2a86',GradientType=1 ); /* IE6-9 */
}
.background-gradient a {
    color:white;
}

button.button-lab {
    width: 49.5%;
    padding: 6px 2px;
    border: none;
    color: white;
}

.card-list-view {
  widows: calc(100%);
  border: none;
  border-left: 4px solid black;
  padding: 1px 10px;
  font-family: Roboto;
  background-color: lightgray;
}
.card-list-view h2 {
  color: #8b2fb5;
}
.card-list-view p span {
  color: green;
}
.card-list-view-users {
  widows: calc(100%);
  padding: 1px 10px;
  font-family: Roboto;
  background-color: lightgray;
  display: flex;
}
.card-list-view-users div.text-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
}
.card-list-view-users div.div-avatar-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}
.card-list-view-users div.div-avatar-image img.avatar-image {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 5px;
}
.card-list-view-users h2 {
  color: #8b2fb5;
}
.card-list-view p span {
  color: green;
}
.card-list-view-users div.icon-mail-div {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-content: end;
 position: relative;
  width: 65%;
}
.card-list-view-users div img.icon-mail {
  display: flex;
  align-self: center;
  width:40px;
  height:40px;
  border-radius: 20px;
}

/* agendamento */
.shadow {
    background: rgba(0, 0, 0, 0.38);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.modal-lab {
    width: 90%;
    background: #ebebeb;
    display: block;
    padding: 20px;
    margin: 0 auto;
    position: absolute;
    left: 5%;
    top: 20%;
    border-radius: 10px;
}
.lab-info {
  background: #fff;
  width: 96%;
  margin: 1%;
  margin-top: 1%;
  border:none;
  border-radius: 5px;
  border-left: #8fcc8f 6px solid;
  padding: 1px 5px;
}
.lab-config {
  background: #fff;
  width: 97%;
  margin: 1%;
  margin-top: 1%;
  border:none;
  border-radius: 5px;
  padding: 1px 5px;
}
.carrousel-config {
  margin-bottom: 20px;
}
.carrousel-config .train {
  
}
.carrousel-config .train img {
  
}
.lab-locacao {
  background: #fff;
  width: 97%;
  margin: 1%;
  margin-top: 1%;
  border:none;
  border-radius: 5px;
  padding: 1px 5px;
}
.section-card-projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}
.project-cards {
    margin: 20px;
}